[buildout]
parts = python django
develop = .
eggs = 
    afed_donations
    bpython
versions = versions

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[versions]
django = 1.4.3

[django]
recipe = djangorecipe
project = afed
projectegg = afed
settings = testsettings
test = afed
eggs = ${buildout:eggs}
